/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 .sbprok-col-4 {
    max-width: 32.333%;
    flex: 0 0 33.3333%;
    width: 100%;
    display: inline-block;
}
.sbprok-row label {
    display: block;
    margin-bottom: 11px;
}
.sbprok-col-6 {
    display: inline-block;
    width: 100%;
    flex: 0 0 50%;
    max-width: 45%;
}
.sbprok-input {
    width: 310px;
}
.select2 {
    width: 314px !important;
}
#sbprok-cust-form label {
    margin-top: 15px;
}