/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 .sbprok-col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .sbprok-col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .sbprok-employeeform_row:after {
    content: "";
    display: table;
    clear: both;
  }
.sbprok-row {
    display: flex;
}
 .sbprok-col-4 {
    max-width: 32.333%;
    flex: 0 0 33.3333%;
    width: 100%;
    display: inline-block;
}
.sbprok-row label {
    display: block;
    margin-bottom: 5px;
}
.sbprok-col-6 {
    display: inline-block;
    width: 100%;
    flex: 0 0 50%;
    max-width: 45%;
}
.sbprok-input, .sbprok-select {
    width: 200px;
}
.select2 {
    width: 200px !important;
}
#sbprok-cust-form label {
    margin-top: 15px;
}