/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 .sbprok-employee-containerbox {
    width: 60%;
    margin: auto;
}
.sbprok-col-25 {
    float: left;
    width: 25%;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 700;
}
.sbprok-employee-containerbox input[type=text], .sbprok-employee-containerbox input[type=password] , .sbprok-employee-containerbox input[type=email]{
    width: 100%;
    border: 1px solid #a29c9c85;
    padding-top: 8px;
    padding-bottom : 8px;
}
.sbprok-col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}
.sbprok-employee-center{
    text-align:center;
}
.sbprok-employeelist th{
    text-align: left;
}
.sbprok-employeeform_row {
    padding: 6px 0px;
}
.sbprok-display-right{
    float: right;
}
.sbprok-employee-form-button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 6px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
  /* Clear floats after the columns */
.sbprok-employeeform_row:after {
    content: "";
    display: table;
    clear: both;
}
.sbprok-row {
    display: flex;
}
 .sbprok-col-4 {
    max-width: 32.333%;
    flex: 0 0 33.3333%;
    width: 100%;
    display: inline-block;
}
.sbprok-row label {
    display: block;
    margin-bottom: 5px;
}
.sbprok-col-6 {
    display: inline-block;
    width: 100%;
    flex: 0 0 50%;
    max-width: 45%;
}
.sbprok-input, .sbprok-select {
    width: 200px;
}
.select2 {
    width: 200px !important;
}
#sbprok-cust-form label {
    margin-top: 15px;
}